#:schema https://raw.githubusercontent.com/posit-dev/air/8049e67080e0976bfe8bcf60efa30912a88ddea1/air.schema.json

root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"

[build]
args_bin = ["serve", "--dev"]
entrypoint = ["./tmp/main.exe"]
cmd = "go build -o ./tmp/main.exe ."
delay = 1000
exclude_dir = [
  "dist",
  "tmp",
  "vendor",
  "testdata",
  "tmp",
  "backup",
  "ui/node_modules",
  "ui/dist",
  "ui/src",
]
exclude_file = []
exclude_regex = ["_test.go"]
exclude_unchanged = false
follow_symlink = false
full_bin = ""
include_dir = []
include_ext = ["go", "sql"]
include_file = []
kill_delay = "0s"
log = "build-errors.log"
poll = false
poll_interval = 0
post_cmd = []
pre_cmd = []
rerun = false
rerun_delay = 500
send_interrupt = false
stop_on_error = false

[color]
app = ""
build = "yellow"
main = "magenta"
runner = "green"
watcher = "cyan"

[log]
main_only = false
silent = false
time = false

[misc]
clean_on_exit = false

[proxy]
enabled = false
app_port = 8090
proxy_port = 8091

[screen]
clear_on_rebuild = false
keep_scroll = true
