{{define "title"}}
  <header>
    <h1>Signin page</h1>
  </header>
{{end}}
{{define "body"}}
<main>
  <form id="signin">
    <fieldset>
      <label for="email">Email</label>
      <input type="email" name="email" required>
    </fieldset>
    <fieldset>
      <label for="password">Password</label>
      <input type="password" name="password" required>
    </fieldset>
    <div class="form-error"></div>
    <div class="button-container">
      <input type="submit" value="Login">
      <a href="/signup">Create account</a>
    </div>
  </form>
</main>
{{end}}
{{define "script"}}
<script async type="module" src="/assets/scripts/pages/signin.js"></script>
{{end}}
